#container{
    width: 1900px;
    min-height: 950px;
}

#options_container{
    background-color: silver;
    min-height: 95px;
    text-align: center;
    border-bottom: 2px solid black;
}

#options_container div {
    display: inline-block;
    margin: 10px;
}

#options_container div > *{
    display: inline-block;
    width: auto;
}

#algorithm_elements_container{
    height: 380px;
    text-align: center;
    background-color: black;
}

#first_algorithm_div{
    margin-right: 0.5%;
}

.element_container{
    width: 49.5%;
    height: 100%;
    background-color: white;
    display: inline-block;
    position:relative;
}

.algorithm_element{
    display: inline-block;
    background-color: #777777;
    width: 100px;
    height: 150px;
    position:absolute;
    bottom: 0;
}

#informations_container{
    min-height: 475px;
    background-color: black;
    border-top: 2px solid black;
    position:relative;
}

.info_container{
    width: 49.5%;
    min-height: 475px;
    background-color: silver;
    display: inline-block;
    position:absolute;
    padding-left: 15px;
}

#first_alg_description_div{
    margin-left: 0.15%;
}

#second_alg_description_div{
    margin-left: 50.35%;
}

p {
    margin: 0;
    font-size: 18px;
    font-family: "Arial", Arial, sans-serif;
}

#pseudocodes_container, #descriptions_container{
    display: none;
}

